<%- include header %>
<div>login</div>
<form method="post">
  <label for="name">用户名</label>
  <input id="name" name="name" type="text">
  <label for="password">密码</label>
  <input id="password" type="password" name="password">
  <input type="submit" value="登录">
</form>
<%- include footer %>