extends layout

block content
  h1= title
  p Welcome to #{title}
  div.hd
    h2 欢迎来到我的导航
  div.bd
    ul
      li.nav
        a(href='www.baidu.com') 百度
      li.nav
        a(href='https://github.com/nswbmw/N-blog/wiki/') Nodejs构建博客
  footer.ft 
