
<div>post</div>
<form method="post">
  <label for="article-title">标题</label>
  <input type="text" id="artcile-title">
  <label for="recommend-reason">推荐理由</label>
  <textarea name="desc" id="recommend-reason" row="5" cols="100"></textarea>
  <label for="content">推荐理由</label>
  <textarea name="post" id="content" row="5" cols="100"></textarea>
  <input type="submit" value="收藏">
</form>
<%- include footer %>